#bpm {
	display: inline-block;
	position: relative;
	min-width: 112px;
	height: 100%;
	background: #ececec;
	cursor: pointer;

	.text {
		padding: 0 .5em;
		font-family: "Roboto";
		font-size: 16px;
		font-weight: 100;
		text-transform: uppercase;
	}
	.unit {
		color: $color_bpmUnit;
		margin-left: .35em;
	}
	&Int {
		font-size: 30px;
	}
	&Dec:before {
		content: ".";
	}
}
