#clock {
	height: 100%;
	line-height: $top-bar-height - 5 ;
	font-family: "Roboto";
	font-size: 38px;
	color: #8b8b8b;
	font-weight: 100;

	&Sec {
		&:before,
		&:after {
			content: ":";
			padding: 0 .15em;
		}
		&:after {
			content: ".";
		}
	}

	&Ms {
		font-size: .5em;
	}

	&Units {
		position: absolute;
		top: 20px;
		right: 9px;
		font: 10px consolas;
		line-height: 0;

		span {
			margin-left: 3px;
			opacity: .5;
		}

		&[data-unit="s"] .s,
		&[data-unit="b"] .b {
			opacity: 1;
		}
	}
}
