#currentTime {
	&Arrow,
	&Cursor {
		opacity: 0;
		transition: opacity .2s;
		&.visible {
			opacity: 1;
		}
	}

	&Arrow {
		position: absolute;
		z-index: 1;
		bottom: 0;
		line-height: 19px;

		&:after {
			color: #d62d35;
			font-size: 32px;
			margin-left: -10px;
			margin-bottom: -5px;
		}
	}

	&Cursor {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 1px;
		margin-left: -1px;
		background: #d62d35;
	}
}
