#grid {
	position: absolute;
	top: $top-bar-height - 26;
	left: 150px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	font-size: 30px;

	&Header {
		position: relative;
		z-index: 3;
		height: 46px;
		border-bottom: 1px solid #d9d9d9;
	}

	&Cols {
		position: absolute;
		left: 0;
		right: -30px; // -30 to hide the scrollbar (for the moment)
		height: 100%;
		overflow: auto;
		overflow-x: hidden;

		> * {
			position: absolute;
			top: 26px;
			left: 0;
		}
	}

	&ColB {
		right: 0;
	}
}
