.gridBlock {
	position: absolute;
	height: 90%;
	overflow: hidden;
	border-radius: $gridBlock_radius;
	color: #fff;
	background: $gridBlock_bg;
	transition: opacity .2s;
    top: 5%;
    border-radius: 10px;

    .track.off & {
		opacity: $gridBlock_opacity_mute;
	}

	&.sample {
    	min-width: 10px !important;
	}

	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 25px;
		display: flex;
		align-items: center;
		padding: 0 $gridBlock_headPadding;
		font-size: $gridBlock_fontSize;
		font-weight: bold;
		background: rgba(0,0,0, 0.3);
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
		transition: .2s;
		transition-property: background, height;
		padding-left: 10px;
	}

	.icon {
		margin-right: $gridBlock_headPadding;
	    display: none;
	}

	.content {
		position: absolute;
		top: $gridBlock_headHeight;
		bottom: 0;
		width: 100%;
		transition: .2s;
		transition-property: border-bottom-color, top, opacity;
	}

	.crop {
		display: none;
		position: absolute;
		width: $gridBlock_cropWidth;
		max-width: 25%;
		height: 100%;
		cursor: ew-resize;
		transition: background .2s;

		&:hover, &.hover {
			background: $gridBlock_cropBg;
		}
		&.end {
			right: 0;
		}
	}

	&.selected {
		.header {
			background: $gridBlock_headBg_selected;
		}
		.content {
			border-bottom-color: $gridBlock_headBg_selected;
		}
	}

	/* CSS depending on the grid tool selected */
	#grid[data-tool="slip"] & {
		cursor: ew-resize;
	}
	#grid[data-tool="cut"] & {
		cursor: ns-resize;
	}
	#grid[data-tool="paint"] & {
		@extend [data-cursor="grab"];
		.crop {
			display: block;
		}
	}

	/* "responsive" */
	#grid[data-sample-size="small"] & {
		.header {
			height: 100%;
			font-size: $gridBlock_fontSize_small;
		}
		.content {
			z-index: 1;
			top: 0;
			opacity: $gridBlock_contentOpacity_small;
		}
	}
}
