@font-face {
	font-family: "FontAwesome";
	src: url( "../fonts/fontawesome-webfont.eot?v=4.5.0" );
	src:
		url( "../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format( "embedded-opentype" ),
		url( "../fonts/fontawesome-webfont.woff2?v=4.5.0" ) format( "woff2" ),
		url( "../fonts/fontawesome-webfont.woff?v=4.5.0" ) format( "woff" ),
		url( "../fonts/fontawesome-webfont.ttf?v=4.5.0" ) format( "truetype" ),
		url( "../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular" ) format( "svg" );
}

@font-face {
  font-family: 'VivaZone';
  src:
    url('../fonts/VivaZone.ttf?s90p0b') format('truetype'),
    url('../fonts/VivaZone.woff?s90p0b') format('woff'),
    url('../fonts/VivaZone.svg?s90p0b#VivaZone') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Shapes :
$icon-caret-down       : "\f0d7"; // fa-caret-down
$icon-caret-up         : "\f0d8"; // fa-caret-up
$icon-circle           : "\f111"; // fa-circle
$icon-circle-o         : "\f10c"; // fa-circle-o
$icon-cross            : "\f00d"; // fa-times

// Browsers :
$icon-chrome           : "\f268"; // fa-chrome
$icon-firefox          : "\f269"; // fa-firefox
$icon-safari           : "\f267"; // fa-safari
$icon-edge             : "\f282"; // fa-edge

// placeholder :
$icon-file-audio       : "\e112"; // fa-file-audio-o

// #panel :
$icon-history          : "\e102"; // fa-undo
$icon-music            : "\e112"; // fa-music
$icon-files            : $icon-music;
$icon-undo             : "\f112"; // fa-reply
$icon-redo             : "\f064"; // fa-share

$icon-return           : "\e11c"; // fa-undo

// .file :
$icon-ramload          : "\f019"; // fa-download
$icon-loading          : "\f021"; // fa-refresh

// #about :
$icon-question         : "\f059"; // fa-question-circle
$icon-github           : "\f09b"; // fa-github
$icon-github-alt       : "\f113"; // fa-github-alt

// #menu :
$icon-play             : "\e114"; // fa-play
$icon-pause            : "\e116"; // fa-pause
$icon-stop             : "\e10d"; // fa-stop
$icon-save             : "\e10b"; // fa-hdd-o (f0c7 fa-floppy-o)
$icon-magnet           : "\e10c"; // fa-magnet
$icon-add              : "\e101"; // fa-magnet

$icon-tool-cut         : "\e105"; // fa-scissors
$icon-tool-delete      : "\e106"; // fa-eraser
$icon-tool-deleteall   : "\e100";

$icon-tool-hand        : "\e108"; // fa-hand-paper-o
$icon-tool-gain        : "\e107"; // fa-volume-off
$icon-tool-mute        : "\e915"; // fa-volume-off
$icon-tool-paint       : "\e109"; // fa-paint-brush
	$icon-tool-move    : "\f047"; // fa-arrows
	$icon-tool-crop    : "\f125"; // fa-crop
	$icon-tool-cropEnd : "\f125"; // fa-crop
$icon-tool-select      : "\f245"; // fa-mouse-pointer
$icon-tool-slip        : "\f0ec"; // fa-exchange
$icon-tool-zoom        : "\e104"; // fa-search

$icon-clone: "\f24d"; // fa-clone

.icon {
	display: inline-block;
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;

	&.fw {
		width: 1.28571429em;
		text-align: center;
	}

	&:after {
		display: inline-block;
	}

	&.loading,
	&.spin {
		animation: keyframes-spin 2s infinite linear;
	}

	@keyframes keyframes-spin {
		  0% { transform: rotate(   0deg ); }
		100% { transform: rotate( 359deg ); }
	}

	&.chrome:after        { content: $icon-chrome;        }
	&.firefox:after       { content: $icon-firefox;       }
	&.safari:after        { content: $icon-safari;        }
	&.edge:after          { content: $icon-edge;          }
	&.caret-down:after    { content: $icon-caret-down;    }
	&.caret-up:after      { content: $icon-caret-up;      }
	&.circle:after        { content: $icon-circle;        }
	&.cross:after         { content: $icon-cross;         }



	&.ramload:after       { content: $icon-ramload;       }
	&.loading:after       { content: $icon-loading;       }

	&.undo:after          { content: $icon-undo;          }
	&.redo:after          { content: $icon-redo;          }
		&.tool-move:after    { content: $icon-tool-move;     }
		&.tool-crop:after    { content: $icon-tool-crop;     }
		&.tool-cropEnd:after { content: $icon-tool-cropEnd;  }

}

.vzicon {
	display: inline-block;
	font-family: "VivaZone";
	font-weight: normal;
	font-style: normal;

	&.fw {
		width: 1.28571429em;
		text-align: center;
	}

	&:after {
		display: inline-block;
	}


	&.file-audio:after    { content: $icon-file-audio;    }
	&.history:after       { content: $icon-history;       }
	&.files:after,
	&.music:after         { content: $icon-music;         }


	&.play:after          { content: $icon-play;          }
	&.pause:after         { content: $icon-pause;         }
	&.stop:after          { content: $icon-stop;          }
	&.save:after          { content: $icon-save;          }
	&.return:after        { content: $icon-return;        }
	&.magnet:after        { content: $icon-magnet;        }

	&.tool-create:after   { content: $icon-tool-paint;    }
	&.tool-cut:after      { content: $icon-tool-cut;      }
	&.tool-delete:after   { content: $icon-tool-delete;   }
	&.tool-deleteall:after   { content: $icon-tool-deleteall;   }

	&.tool-hand:after     { content: $icon-tool-hand;     }
	&.tool-mute:after     { content: $icon-tool-mute;     }
	&.tool-gain:after     { content: $icon-tool-gain;     }
	&.tool-paint:after    { content: $icon-tool-paint;    }
		&.tool-move:after    { content: $icon-tool-move;     }
		&.tool-crop:after    { content: $icon-tool-crop;     }
		&.tool-cropEnd:after { content: $icon-tool-cropEnd;  }
	&.tool-select:after   { content: $icon-tool-select;   }
	&.tool-slip:after     { content: $icon-tool-slip;     }
	&.tool-zoom:after     { content: $icon-tool-zoom;     }
	&.tool-paste:after    { content: $icon-clone;         }

	&.add:after           { content: $icon-add; }

	&.add:after, &.history:after, &.files:after {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
