/* .item.buffer */

.item {
	.gsuiWaveform {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .75;
		fill: $item_waveFill;
	}
	.icon {
		margin-right: $item_iconMargin;
		opacity: .5;
	}
	.cursor {
		position: absolute;
		height: 100%;
		top: 0;
		width: 1px;
		background: $color_currentTimeCursorBg;
		box-shadow: -1px 0 3px rgba( $color_currentTimeCursorShadow, .7 );
		transition: left linear;
		left: 0;
	}

	&:hover {
		.gsuiWaveform {
			//opacity: 1;
		}
	}
}
