#menu {
	$marginBetweenBtn: 5px;
	@mixin writeBg( $c ) {
		background: $c;
		&:hover {
			background: lighten( $c, $lighten_toolHover );
		}
	}

	display: flex;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	height: $top-bar-height - 26;
	line-height: $top-bar-height - 26;
	color: $color_menuText;
	background: #ececec;

	.advanced {
		display: none;
	}
	.btn {
		box-sizing: border-box;
		width: 40px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		transition:
			box-shadow .05s,
			background .2s,
			color .2s;
		margin-left: 10px;
		&:active {
			padding-top: .2em;
		}
		&.small {
			width: 35px;
			font-size: 16px;
			color: #b8b8b8;

			&:hover {
				color: #7d7d7d;
			}
			&.active {
				color: #e02633;
			}
		}
	}
	.play,
	.pause,
	.return {
		background: #ececec;
		color: #838383;
	    font-size: 22px;
	}
	.stop {
		background: #ececec;
		color: #838383;
		font-size: 22px;
	}
	.btn.question {
		margin-right: $marginBetweenBtn;
		font-size: 32px;
	}
	#save {
		.save,
		.caret {
			background: #ececec;
		}
	}
	#save .caret {
		margin-left: 0px;
	}
	.border {
		border-right: 1px solid #d9d9d9;
	}

	.inshadow {
		&:active,
		&.clicked {
			box-shadow: inset 0 2px 3px rgba( #000, .7 );
		}
	}

	.sep {
		align-self: center;
		width: 0;
		height: 65%;
		margin: 0px 15px;
		opacity: .3;
		&.solid {
			border-left: 2px solid;
		}
	}
	.flex1 {
		flex: 1;
		visibility: hidden;
	}
}
