#files {
	.item {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		margin-top: -1px;
		transition: all .2s;
		margin: 5px 5px 5px 5px;
		border-radius: 8px;

		&:first-of-type {
			margin-top: 10px !important;
		}
		&:nth-of-type(1) {
			background-color: #3f83f5;
		}
		&:nth-of-type(2) {
			background-color: #04b8ff;
		}
		&:nth-of-type(3) {
			background-color: #ff9f9f;
		}
		&:nth-of-type(4) {
			background-color: #f1592d;
		}
		&:nth-of-type(5) {
			background-color: #71b96e;
		}
		&:nth-of-type(6) {
			background-color: #b075db;
		}
		&:nth-of-type(7) {
			background-color: #febc14;
		}
		&:nth-of-type(8) {
			background-color: #90a4ae;
		}
		&:nth-of-type(9) {
			background-color: #80cbc4;
		}
		&:nth-of-type(10) {
			background-color: #a1887f;
		}
		&:nth-of-type(11) {
			background-color: #b9f6ca;
		}
		&:nth-of-type(12) {
			background-color: #c2185b;
		}

	}

	.placeholder {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 25%;
		text-align: center;
		color: $color_filesPlaceholder;

		.icon {
			font-size: 80px;
			margin-bottom: .2em;
		}
	}

	&Input {
		display: none;
	}

	&List:empty + .placeholder {
		display: block;
	}

	&Filters {
		a {
			padding: 6px 10px;
			border-radius: .2em;
			opacity: 1;
			text-decoration: line-through;
			font-variant: all-small-caps;
			flex: 1;
		}
		&.used	 .used,
		&.loaded   .loaded,
		&.unloaded .unloaded {
			opacity: 1;
			text-decoration: none;
		}

		&.used	 + #filesList .used,
		&.loaded   + #filesList .loaded,
		&.unloaded + #filesList .unloaded {
			height: 40px;
			visibility: visible;
			opacity: 1;
			margin-top: 0;
		}
	}
}
