#panel {
	position: absolute;
	box-sizing: border-box;
	z-index: 3;
	min-width: 200px;
	max-width: 450px;
	left: 0;
	top: $top-bar-height - 25;
	bottom: 0;
	border-top: 1px solid #dfdfdf;

	section {
		position: absolute;
		display: none;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	nav {
		display: flex;
		align-items: center;
		height: 46px;
		box-sizing: border-box;
		padding: 5px;
	    border-bottom: 1px solid #dfdfdf;
		font-size: 13px;
		font-weight: 500;
		color: #999999;
		background: #f1f1f1;
		a {
			&:hover {
				color: #bbb;
				background: rgba( #fff, .1 );
			}
		}
	}

	.list {
		flex: 1;
		overflow: auto;
	}
}

/* #panel section */
#app[data-panel="files"] #files,
#app[data-panel="history"] #history {
	display: flex;
}
