$history-btn-size: 18px;

#btnUndo,
#btnRedo {
	display: inline-block;
	width: $history-btn-size;
	height: $history-btn-size;
	line-height: $history-btn-size;
	padding: 1px;
	margin-left: 10px;
	border-radius: 2px;
	flex: 1;
}


#history {
	$task-height: 26px;
	$task-fs: 12px;
	$btn-bg: #454545;

	.task {
		display: flex;
		box-sizing: border-box;
		height: 26px;
		line-height: 26px;
		font-size: 12px;
		border-bottom: 1px solid #d9d9d9;
		background: #f5f5f5;
		color: #999;
		transition: .2s;
		transition-property: color, background;
		margin-bottom: 1px;
		align-items: center;
		margin-top: 1px;

		.circle {
			width: $history-btn-size;
			vertical-align: middle;
			line-height: $task-height;
			opacity: .5;
			font-size: 6px;
			transition: font-size .2s;
		}
		.tool {
			margin-right: 5px;
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 2px;
			padding: 1px;
			background: $btn-bg;
		}
		.title {
			font-family: monospace;
			font-size: 11px;
		}
		&.undone {
			border-bottom-style: dashed;
			opacity: .4;

			.circle {
				&:after {
					content: $icon-circle-o;
				}
			}
		}
		&:hover {
			background: #ececec;
			opacity: 1;

			.circle {
				font-size: 10px;
			}
		}
	}
}
