#save {
	display: flex;
	position: relative;

	.save {
		width: 30px;
		font-size: 20px;
	}
	.caret {
		width: 20px;

		&:after {
			content: $icon-caret-down;
		}
	}

	input {
		display: none;

		&:checked {

			+ .caret:after {
				content: $icon-caret-up;
			}
			~ .dropdown {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
		}
	}

	.dropdown {
		visibility: hidden;
		top: 80%;
		opacity: 0;
		position: absolute;
		z-index: 4;
		right: 0;
		width: $save_dropdownWidth;
		margin-top: 1px;
		border-radius: 0 0 $save_dropdownRadius $save_dropdownRadius;
		font-size: 11px;
		padding: 0 $save_dropdownPadding $save_dropdownPadding $save_dropdownPadding;
		line-height: 18px;
		background: #ececec;
		box-shadow: $save_dropdownShadow;
		transition: .2s;
		transition-property: visibility, opacity, top;

		.title {
			font-weight: bold;
			padding: $save_dropdownPadding 0;
			opacity: .35;
		}

		> a {
			display: block;
			font-size: 13px;
		}
	}

	.list {
		overflow: auto;
		max-height: 300px;
		border-radius: 4px;

		&:empty:after {
			display: block;
			content: "No composition saved yet... :(";
			padding: 5px;
			text-align: center;
			font-style: italic;
			background: rgba( #000, .3 );
		}
	}
}
