#timeline {
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: -3em;
	height: 100%;
    border-top: 1px solid #d9d9d9;
    background: #ececec;
	cursor: default;
	counter-reset: beatCounter;
}
