#timelineBeats {
	height: 100%;
	border-left: 1px solid #ececec;

}

.timelineBeat {
	display: inline-block;
	width: 1em;
	height: 100%;
	margin-top: 12px;
	&:first-child {
		visibility: hidden;
	}
	span {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin-left: -50%;
		text-align: center;
		font-weight: 300;
		font-family: "Roboto";
		font-size: 12px;
		color: #a4a4a4;


		&:after {
			counter-increment: beatCounter;
			content: counter( beatCounter );
		}
	}
	&:nth-child( 4n ) span {
		margin-top: 0;
		font-weight: 400;
		font-size: 13px;
		color: #696969;
	}
}
