.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 25px;

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .tg-text {
        margin: -18px;
        font-size: 10px;
        text-transform: uppercase;
        color: #bebebe;
    }
}

.tgl {
    display: none;

    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + .tgl-btn {
        box-sizing: border-box;

        &::selection {
            background: none;
        }
    }

    + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        user-select: none;

        &:after,
        &:before {
            position: relative;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
        }

        &:after {
            left: 0;
        }

        &:before {
            display: none;
        }
    }

    &:checked + .tgl-btn:after {
        left: 50%;
    }
}

.tgl-light {
    + .tgl-btn {
        background: #e6e6e6;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        border: 1px solid #d1d1d3;

        &:after {
            border-radius: 50%;
            background: #fff;
            transition: all .2s ease;
            box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        }
    }

    &:checked + .tgl-btn {
        background: #9FD6AE;
    }
}
