.track {
	position: relative;
	box-sizing: border-box;
	height:  134px;
	transition: .25s;
	transition-property: background, box-shadow;

	#tracksNames .track + & { border-top: 1px solid #d9d9d9; }
	#tracksLines .track + & { border-top: 1px solid #d9d9d9; }

	:not(.track) + &:not(.off),
	.track.off   + &:not(.off) {
		box-shadow: inset 0 3px 0 $track_firstBorder;
	}
	:not(.track)     + &.off,
	.track:not(.off) + &.off {
		box-shadow: inset 0 2px 0 $track_firstBorder_off;
	}

	.gsuiToggle {
		position: absolute;
		width: $track_toggleWidth;
		height: 100%;
		font-size: 6px;
	}

	.gsuiSpanEditable {
		position: absolute;
		left: 30px;
		right: 6px;
		height: 100%;
		font-size: 14px;
	}

	&.off {
		background: $track_bg_off;

		.gsuiSpanEditable {
			color: #959595;
		}
	}
}

#newtrack {
    background: #f1f1f1;
    height: 45px;
    margin-top: 1px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-top: 1px solid #d9d9d9;
    font-size: 10px;
	color: #999999;
    width: 123px;
	min-width: 118px;
	display: flex;
	p {
	    padding-left: 10px;
    	padding-top: 6px;
    	font-weight: 300;
	}
}
