#tracks {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 20px;
	bottom: 0;

	&Names {
		box-sizing: border-box;
		z-index: 2;
		min-width: 120px;
		max-width: 300px;
		border: solid #e1e1e1;
		border-width: 0 1px;
		background: #ececec;
	}

	&Lines {
		position: relative;
		width: 1000000px;
		margin-left: 0;
	}

	&Bg {
		position: absolute;
		width: 1000000px;
		top: 0;
		bottom: 0;
		overflow: hidden;
		background: #f5f5f5;

		* {
			display: inline-block;
			height: 100%;
			+ * {
				border-left: 1px solid;
				margin-left: -1px;
			}
		}
		> * {
			width: 4em;
			border-color: #dfdfdf;


			* {
				width: 25%;
			}
			> * {
				border-color: #dadada;
				* {
					border-color: #efefef;
				}
			}
		}
	}
}
