#visual {
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	height: $top-bar-height - 25;
	border-right: 1px solid #e0e0e0;
	background: #f1f1f1;

	canvas {
		width: 100%;
		height: 100%;
	}

	.columns {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
	    bottom: 3px;
	}

	.cell-btn {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 40px;
		text-align: center;
	}

	.cell-clock {
		flex: 1;
		position: relative;
		padding: 0 12px 0 5px;
		text-align: right;
	    bottom: 6px;
	}
}

#btnFiles,
#btnHistory {
	$size: 24px;

	display: inline-block;
	width: $size;
	height: $size;
	line-height: $size +1 ;
	margin-bottom: 7px;
	border-radius: 50%;
	color: #999;
	border: 1px solid transparent;
	background: rgba( #fff, .07 );
	transition: .2s;
	transition-property: background, color;
	color: #d9d9d9;
	border-color: rgba( #000, .1);
	background: rgba( #fff, 1);
    font-size: 11px;
	&:hover {
		color: #ccc;
		background: rgb(241, 241, 241);
	}
}

#btnAddTrack {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 7px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .2s;
    transition-property: background, color;
    color: #d9d9d9;
    border-color: rgba(0,0,0,0.1);
    background: #fff;
    margin-top: 9px;
    margin-left: 9px;
}

#app[data-panel="files"] #btnFiles,
#app[data-panel="history"] #btnHistory {
	color: #898989;
}


.gsuiSpanEditable span {
    color: #999aa5;
}

.gsuiSpanEditable {
    color: #999;
}

.gsuiSpanEditable.gsui-empty span {
    color: #999999;
    font-style: normal;
}

.gsuiToggle .gsui-circle.gsui-on {
    box-shadow: none;
}

.gsuiToggle .gsui-circle {
    width: 2em;
    height: 2em;
    margin: -1em 0 0 -1em;
    left: 90%;
}

.vzicon.file-audio:after {
    font-size: 55px;
    padding-bottom: 15px;
}

.item .gsuiWaveform {
    fill: #fff;
    opacity: 0.1;
}

a.item.buffer.unloaded {
    background: rgba(228, 228, 228, 0.87);

    &:before {
        content: "Click to load";
        font-size: 12px;
        color: #838383;
        position: absolute;
        left: 0;
        right: 0;
        top: 11px;
        bottom: 0;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }
    div {
        opacity: 0;
    }
}

