<div id="menu">
	<a id="btnPlay"   class="btn vzicon play"   title="Play/pause (press Space, hold Ctrl for pause)"></a>
	<a id="btnStop"   class="btn vzicon stop"   title="Stop (press Space)"></a>
	<a id="btnReturn" class="btn vzicon return" title="Return to start"></a>

	{{> bpm }}

	<div class="sep"></div>

	{{> save }}

	<a data-tool="hand"   class="btn small vzicon fw tool-hand" title="Scroll"></a>
	<a data-tool="zoom"   class="btn small vzicon fw tool-zoom advanced" title="Zoom (hold Ctrl or press Z)"></a>
	<a data-option="magnet" id="btnMagnet" class="btn small vzicon fw magnet" title="Toggle snap to grid (press G)"></a>

	<a id="btnDeleteAll" class="btn small vzicon tool-deleteall advanced" title="Delete all"></a>

	<div class="sep solid"></div>

	<a data-tool="select" class="btn small vzicon fw tool-select" title="Select (hold Shift or press V)" style="display: none;"></a>

	<a data-tool="paint"  class="btn small vzicon fw tool-paint" title="Paint (press B)"></a>
	<a data-tool="gain"   class="btn small vzicon fw tool-gain  advanced" title="Volume control" ></a>
	<a data-tool="slip"   class="btn small vzicon fw tool-slip" title="Slip (press S)" style="display: none;"></a>

	<a data-tool="cut"    class="btn small vzicon fw tool-cut" title="Cut (press C)"></a>
	<a data-tool="delete" class="btn small vzicon fw tool-delete" title="Delete (press D)"></a>

	<div class="flex1"></div>

	<ul class="tg-list">
	  <li class="tg-list-item">
	    <input class="tgl tgl-light" id="cb1" type="checkbox"/>
	    <label class="tgl-btn" for="cb1" title="Advanced mode"></label>
	    <div class="tg-text">Advanced Mode</div>
	  </li>
	</ul>

</div>
