<section id="files">
	<input id="filesInput" type="file"/>
	<div id="filesCursor" class="cursor"></div>
	<nav id="filesFilters">
		<a href="#" class="used">In use</a>
		<a href="#" class="loaded">Available</a>
		<a href="#" class="unloaded">Pending</a>
	</nav>
	<div id="filesList" class="list"></div>
	<div class="placeholder">
		<i class="vzicon file-audio"></i><br/>
		<b>Drop audio files here</b>
	</div>
</section>
